html, body {
  height: 100%;
  margin: 0;
}

.wrapper {
  min-height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.circle {
  display: inline-block;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  display: inline-flex;
  background: lightblue;
  justify-content: center;
  align-items: center;
}

/*.text {
  color: black;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}*/
